.form-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}

.form-card input {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* FIX TABLE VISIBILITY */
table, th, td {
  color: #000 !important;
  border: 1px solid #ccc;
  background: #fff;
}
