.stepper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step-item {
  text-align: center;
  flex: 1;
}

.step-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #999;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-circle.active {
  border-color: blue;
  color: blue;
  font-weight: bold;
}

.step-circle.done {
  background: green;
  color: white;
}
